@import "tailwindcss";

/* === Basic === */

:root {
  text-align: center;
  font-weight: bold;
  background-color: #909090;
  /* background-image: url(./); */
  font-family: "Lugrasimo", cursive;
  font-style: normal;
}

/* === App.jsx === */

/* .dice-title {
  font-size: 2.5rem;
  border-bottom: 2px solid #fff;
  border-radius: 50px;
  background-color: #333;
  color: #fff;
  width: 30%;
  margin: auto;
} */

.dice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
