@import "tailwindcss";

/* === Basic === */

:root {
  text-align: center;
  font-weight: bold;
  background-color: #909090;
  font-family: "Lugrasimo", cursive;
  font-style: normal;
}

/* === App.jsx === */

.dice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* === Mobile === */

@media (max-width: 800px) {
  .logo {
    height: 70px;
    margin-top: 20px;
  }

  .title {
    font-size: 2.5rem;
    padding-left: 10px;
  }

  .dice-container {
    width: 90%;
    font-size: 1.5rem;
    padding: 15px;
  }

  .button {
    padding: 8px 15px;
    margin-top: 20px;
  }
}
