@import "tailwindcss";

/* === Basic === */

:root {
  text-align: center;
  font-weight: bold;
  background-color: #909090;
  font-family: "Lugrasimo", cursive;
  font-style: normal;
}

/* === App.jsx === */

.dice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
