.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  border-top: 2px solid #fff;
}

.name {
  margin: auto;
  margin-left: 0;
  padding: 5px;
}

.btt {
  border: 2px solid white;
  background-color: #00a2ff;
  border-radius: 25px;
  padding: 5px;
  margin: 10px;
}

.btt:hover {
  background-color: #00e1ff;
}

@media (max-width: 800px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .name {
    margin: auto;
    text-align: center;
    font-size: 0.9rem;
  }

  .btt {
    display: none;
  }
}
