.header-container {
  display: flex;
  background-color: #333;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding: 5px;
  margin-bottom: 10px;
}

.logo {
  height: 110px;
  width: auto;
  padding-left: 15px;
  padding-bottom: 3px;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Eagle Lake", serif;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-right: 120px;
}

@media (max-width: 800px) {
  .header-container {
    flex-direction: row;
    align-items: center;
    min-height: auto;
    padding: 5px;
  }

  .logo {
    height: 90px;
    padding-left: 0;
  }

  .title {
    font-size: 2.5rem;
    align-items: center;
  }
}
