.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding: 5px;
  margin-bottom: 10px;
}

.logo {
  height: 110px;
  width: auto;
  padding-left: 15px;
  padding-bottom: 3px;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Eagle Lake", serif;
  font-style: normal;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.nav-container a:hover {
  background-color: #00e1ff;
}

.bmc-icon {
  width: 35px;
  height: 35px;
}

@media (max-width: 800px) {
  .header-container {
    flex-direction: row;
    align-items: center;
    min-height: auto;
    padding: 5px;
  }

  .logo {
    height: 90px;
    padding-left: 0;
  }

  .title {
    font-size: 2.5rem;
    align-items: center;
  }

  .nav {
    display: none;
  }
}
