.dice-container {
  font-size: 2.2rem;
  padding: 5px;
  border-radius: 25px;
  background-color: #333;
  border: 2px solid #fff;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  width: calc(33.33% - 20px);
  max-width: 550px;
}

.dice-container h2 {
  margin-top: 10px;
}

.input {
  width: 90px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
}

.button {
  font-size: 1.6rem;
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 25px;
  border: none;
  background-color: #00a2ff;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #00e1ff;
  transform: translateX(10px);
}

.button:active {
  background-color: #00e1ff;
}

.results {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .dice-container {
    width: 90%;
    font-size: 1.8rem;
    padding: 15px;
  }

  .input {
    width: 80px;
    height: 40px;
  }

  .button {
    padding: 10px 18px;
    margin-left: 10px;
    font-size: 1.4rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
}
